mcp:
  servers:
    time:
      command: "uv"
      args: ["run", "python", "-m", "mcp_server_time", "--local-timezone", "Asia/Tokyo"]
    calculator:
      command: "uv"
      args: ["run", "python", "-m", "mcp_server_calculator"]
    fetch:
      command: "uvx"
      args: ["mcp-server-fetch"]
    filesystem:
      command: "npx"
      args: ["-y", "@modelcontextprotocol/server-filesystem", "/home/chase/Codes/chatbot/bbot/data", "/home/chase/Codes/chatbot/bbot/data/document", "/home/chase/Calibre Library"]
    utils:
      command: "uv"
      args: ["run", "python", "-m", "mcp_server_utils"]
    sms:
      command: "uv"
      args: ["run", "python", "-m", "mcp_sms_server"]
    calibre:
      command: "uv"
      args: ["run", "python", "mcp_calibre_server.py"]
    
